body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #fff;
}

table {
  margin-right: 10px;
  margin: 0;
  padding: 0;
}

th span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  padding-left: 2px;
  padding-right: 2px;
  height: 34px;
}

h1 {
  margin: 0px -16px 0px;
  padding-left: 10px;
  line-height: 40px;
  font-size: 15px;
  color: #555;
  text-align: left;
  background: #6d95bf;
  color: #fff;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
}

.container {
  margin: 10px auto;
  width: 1024px;
  height: 800px;
  border: 3px;
  webkit-box-shadow: 0 0 200px rgba(78, 14, 14, 0.5), 0 1px 2px rgba(37, 56, 148, 0.3);
  box-shadow: 0 0 200px rgba(29, 5, 5, 0.5), 0 1px 2px rgb(16, 1, 1);
}

.navi_bar {
  margin: 0px -16px 0px;
  padding-left: 20px;
  line-height: 40px;
  background: #6d95bf;
  color: #fff;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
}

.navi_bar .title_bar {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
}

.display_div {
  display: table-cell;
  vertical-align: middle;
  width: 80px;
}

.content {
  padding: 20px 20px 20px;
}

.content p {
  margin: 20px 0 0;
}

.top_menu input[type=button] {
  background: #e4e4e4;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border-color: #000;
  font-size: 18px;
  font-weight: normal;
}

.list_procedure input[type=button]{
  margin-right: 10px;
  margin-left: 10px;
}

.list_procedure table{
  width: 100%;
}

.list_procedure .header {
  background: #c4d1e8;
  text-align: center;
}

.title_head {
  background: #c4d1e8;
  text-align: center;
}

.list_procedure input[type=text] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
}

.dropdown-select{
    width: 200px; 
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
}

.login {
  position: relative;
  margin: 50px auto;
  padding: 20px 20px 0px;
  width: 410px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(25, 1, 1, 0.5), 0 1px 2px rgba(16, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(8, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login .title {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #c4d1e8;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 258px;
}
.login .submit {
  height: 45px;
  padding-top: 4px;
  padding-right: 5%;
  text-align: right;
  margin: 0px -20px 10px;
  background: #c4d1e8;
  border-top: 1px solid;
  border-color: #999;
}

.login .button_submit {
  background: #447eb1; 
  color: #fff; 
  border: 1px solid; 
  border-color: #286090;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
    padding: 0 10px;
    width: 200px;
    height: 36px;
    color: #000;
    background: white;
    border: 1px solid;
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #000;
}

input[type=submit], input[type=button] {
  padding: 0px 20px 5px 20px;;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  background: #c0c6cc;
  color: #000;
  border: 1px solid;
  border-color: #555;
  outline: 0;
  box-sizing: content-box;
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}

a {
  color: #fff;
  padding-right: 2px;
}

table a{
  color:  #337ab7;
  text-decoration: underline;
  font-weight: bold;
}

.number {
  text-align: right;
 }

.center {
  text-align: center;
}

.left {
  padding-left: 2px; 
}

.pane--table2 tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}
.pane--table2 thead {
    display: table-row;
}

thead th, table.dataTable thead td {
  /*border-right: 0 !important;
  border-top: 0 !important;*/
}

table.dataTable tbody th, table.dataTable tbody td {
  border-right: 0 !important;
  border-top: 0 !important;
}

table.dataTable {
  border-collapse: collapse;
}

#btnParent {
  style="border-left: 0 !important;"
}

.ui-datepicker-trigger{
  padding-left: 5px;
}

.edit_text {
  background: #f9f7ba !important;
}

.ui-button-icon-only .ui-button-text{
	padding: 0px;	

}

.complete_status {
  background: #f2dede;
}

.processing_status {
  background: yellow;
}

.button_processing {
  background: #c0c6cc;
}

.label_left {
  height: 36px;
  text-align: left;
  border-top: 1px solid; 
  border-bottom: 1px solid; 
  border-left: 1px solid; 
  padding-left: 2px
}