
div.tableContainer {
	clear: both;
}

/* Reset overflow value to hidden for all non-IE browsers. */
div.tableContainer {
	overflow: hidden;
}

thead.fixedHeader tr {
	position: relative;
}

thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid ;
	border-right: 1px solid ;
	border-top: 1px solid;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

tbody.scrollContent {
	display: block;
	height: 100px;
	overflow: auto;
	width: 100%;
	border: 1px solid;
}

html>body thead.fixedHeader {
	display: table;
	overflow: auto;
	width: 100%
}

tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid ;
	border-top: 1px solid ;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid ;
	border-top: 1px solid ;
	padding: 2px 3px 3px 4px
}