.table_scroll {
    /*width: 770px;*/
}
.table_scroll thead {
    display: inline-block;
}
.table_scroll tbody {
	height: 104px;
	display: inline-block;
	width: 100%;
	overflow: auto;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}
.table_scroll th {
	text-align: center;
	border-left: 1px solid;
	border-top: 1px solid;
}
.table_scroll td {
	border-left: 1px solid;
	border-top: 1px solid;
}
.border_top_empty {
	border-top: 0 !important;
}
.border_right {
	border-right: 1px solid;
}
.noscroll {
	height: auto !important;
	width: auto !important;
	border-right: 0 !important;
}